<div class="startScreen">
    <div class="beerLine">
        <img src="assets/img/startScreen/beer.svg" alt="">
        <img src="assets/img/startScreen/beer.svg" alt="">
    </div>
    <div>
        <img src="assets/img/startScreen/poker.png">
    </div>
    <div class="labelContainer">
        <img (click)="newGame()" src="assets/img/startScreen/label.png">
    </div>
    <div class="beerLine">
        <img src="assets/img/startScreen/beer.svg" alt="">
        <img src="assets/img/startScreen/beer.svg" alt="">
    </div>
</div>
