<div class="startScreen">
    <div class="beerLine">
        <img src="./../../assets/img/startScreen/beer.svg" alt="">
        <img src="./../../assets/img/startScreen/beer.svg" alt="">
    </div>
    <div>
        <img src="./../../assets/img/startScreen/poker.png">
    </div>
    <div (click)="newGame()" class="labelContainer">
        <img  src="./../../assets/img/startScreen/label.png">
        <div>Start Game</div>
    </div>
    <div class="beerLine">
        <img src="./../../assets/img/startScreen/beer.svg" alt="">
        <img src="./../../assets/img/startScreen/beer.svg" alt="">
    </div>
</div>
