<div class="startScreen">
    <div class="beerLine">
        <img src="./../../../dist/ring-of-fire/assets/img/startScreen/beer.svg" alt="">
        <img src="./../../../dist/ring-of-fire/assets/img/startScreen/beer.svg" alt="">
    </div>
    <div>
        <img src="./../../../dist/ring-of-fire/ssets/img/startScreen/poker.png">
    </div>
    <div class="labelContainer">
        <img (click)="newGame()" src="./../../../dist/ring-of-fire/assets/img/startScreen/label.png">
    </div>
    <div class="beerLine">
        <img src="./../../../dist/ring-of-fire/assets/img/startScreen/beer.svg" alt="">
        <img src="./../../../dist/ring-of-fire/assets/img/startScreen/beer.svg" alt="">
    </div>
</div>
